<h4>{{model.name}}</h4>
<img src="{{model.image}}">
<p>{{model.description}}</p>

{{new-review festival=model saveRating='saveRating'}}
<br>
Reviews: {{model.ratings.length}}
<hr>
{{#each model.ratings as |rating|}}
<p>{{star-number rating.stars}}</p>
Date: {{rating.date}}
<hr>
{{/each}}
