{{new-festival saveFestival='saveFestival'}}

{{#each model as |festival|}}
  <div class="festival-tile">
  {{festival-tile model=festival}}
  <button {{action 'deleteFestival' festival}}>Delete</button>
  {{new-review festival=festival saveRating='saveRating'}}
  <button {{action 'favoritesAdded'}}>Add to your list of favorite Festivals!</button>
  <br>
  Number of Reviews: {{festival.ratings.length}}{{review-time festival}}
  </div>
{{/each}}
