{{new-festival saveFestival='saveFestival'}}

{{#each model as |festival|}}
  <div class="festival-tile">
  {{festival-tile model=festival}}
  <button {{action 'deleteFestival' festival}}>Delete</button>
  {{new-review festival=festival saveRating='saveRating'}}
  Number of Reviews: {{festival.ratings.length}}
  </div>
{{/each}}
